/*Google Fonts Imoport link*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/*CSS Variables*/
:root {
    --primaryfont: 'Inter', sans-serif;
    --secondaryfont: 'Macondo', cursive;
    --primary-color: #3a2620 ; /* A shade of brown */
    --secondary-color: #aa9581 ; /* A lighter shade of brown */
    --highlight-color: #416a8e ; /* A complementary blue shade */
    --light-hightlight-color: #7a9fc2 ; /* A lighter blue shade */
}

/*Global Styles*/
body {
    font-family: var(--primaryfont);
}

h1,
h2,
h3{
    font-family: var(--secondaryfont);
    color: var(--primary-color) !important;
}

.sub-heading-color {    
    color: var(--highlight-color);
}

.container,
.row {
    border: 2px solid black;
}
.col-12 {
    border: 2px solid white;
    background-color: lightgrey;

}
